[submodule "rtl/Design-of-various-multiplier-Array-Booth-Wallace-"]
	path = rtl/Design-of-various-multiplier-Array-Booth-Wallace-
	url = https://github.com/celuk/Design-of-various-multiplier-Array-Booth-Wallace-
